<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>9Planner</title>
    <link
            crossorigin="anonymous"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            rel="stylesheet"
    />
    <link href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" rel="stylesheet" type="text/css"/>

    <link href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" rel="stylesheet" type="text/css"/>

    <link href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="react"></div>

<script th:src="@{/js/bundle.js}"></script>

</body>
</html>